
        <div class="d-flex">
            <button id="menuBtn" class="btn menu-icon me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <img src="/dummy.svg" alt="menu logo" id="menulogo">
            </button>
            <h5 class="fw-bolder mt-3">SME-HUB</h5>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column mt-4 list-unstyled">
                <li class="nav-item mx-2 my-2 nav-item-dashboard">
                    <a class="nav-link d-flex py-2 fs-6 nav-link-dashboard" href="/superadmin/dashboard"><img src="/dashboard.svg" class="me-2" id="dashboard"><span class="mt-1">Dashboard</span></a>
                </li>
                <li class="nav-item mx-2 my-2 nav-item-organizations">
                    <a class="nav-link d-flex py-2 fs-6 nav-link-organizations" href="/superadmin/organizations"><img src="/organizations.svg" width="20%" class="me-2 mt-1" id="organizations"><span>Organizations</span></a>
                </li>
                <li class="nav-item mx-2 my-2 nav-item-users">
                    <a class="nav-link d-flex py-2 fs-6 nav-link-users" href="/superadmin/users"><img src="/users.svg" width="25%" class="me-2" id="users"><span class="mt-1">Users</span></a>
                </li>
                <li class="nav-item mx-2 my-2">
                    <a class="nav-link d-flex py-2 fs-6" href="/superadmin/logout"><img src="/Logout.svg" class="me-2 mt-1"><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </nav>