<%- include('../partials/superadmin/header.ejs') %>
    <%- include('../partials/superadmin/navbar.ejs') %>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10">
            <div class="container my-5">
				<div id="errMessage" class="alert alert-danger d-none" role="alert"></div>
                <h2 class="mb-4">Add New System Admin</h2>
                <form class="mb-4" method="POST" id="myForm">
                    
                    <div class="mb-3">
                        <label for="userName" class="form-label">Admin Name</label>
                        <input type="text" class="form-control" name="name" id="userName"
                            placeholder="Enter Admin name" value="" required>
                    </div>

                    <div class="mb-3">
                        <label for="userPassword" class="form-label">Password</label>
                        <input type="text" class="form-control" name="password" id="userPassword"
                            placeholder="Enter Admin Password"  required readonly>
                    </div>

                    <div class="mb-3">
                        <label for="userPhone" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" id="userPhone"
                            placeholder="Enter Admin Phone Number"  required>
                    </div>

                    <div class="mb-3">
                        <label for="userEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="userEmail"
                            placeholder="Enter Admin Email"  required>
                    </div>

                    <button type="submit" class="btn btn-success w-100 mb-2" id="addBtn">Add</button>
                    <a href="/superadmin/users" class="btn btn-danger w-100">Cancel</a>
    
                </form>
            </div>
        </main>

        <script>
            
			function generatePassword() {
			    const password = Math.random().toString(36).slice(-8);
			    document.getElementById('userPassword').value = password;
			}


			const form = document.getElementById('myForm');
			const addButton = document.getElementById('addBtn');
			const inputs = form.querySelectorAll('.form-control[required]:not([readonly])');

			function checkInputs() {
				let allFilled = true;
				inputs.forEach(input => {
				  if (!input.value.trim()) {
				    allFilled = false;
				  }
				});
				addButton.disabled = !allFilled;
			}

			inputs.forEach(input => {
				input.addEventListener('input', checkInputs);
			});

			form.addEventListener('submit', function (event) {
			    addButton.disabled = true;
			    addButton.textContent = 'Submitting...'; // Optionally change button text to indicate progress
			});

			function errorMessage() {
                const searchParams = new URLSearchParams(window.location.search);
				const error = searchParams.get('error')
				const errMessage = document.getElementById('errMessage')
				if ( error === "true") {
					errMessage.innerText = "System Error!"
					errMessage.classList.remove("d-none")
				}
            }

            errorMessage();
			checkInputs();
            generatePassword();
        </script>
        <%- include('../partials/superadmin/footer.ejs') %>