
	        
			<nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-center"> 
				<button id="menuBtn" class="btn btn-dark menu-icon me-3" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				☰
				</button>
				<div class="d-flex flex-grow-1 ">
					<p class="navbar-brand m-0"><%= organizationName.toUpperCase() %></p>
				</div>
			</nav>
			<!-- Sidebar -->
			<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel" data-bs-backdrop="false">
				<div class="offcanvas-header">
				  <h5 class="offcanvas-title text-light" id="sidebarLabel"><%= organizationName.toUpperCase() %></h5>
				  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
				  <ul class="list-unstyled">
				    <li><a href="/subscriber/home" class="text-light d-block py-2">Dashboard</a></li>
					<li><a href="/subscriber/transaction/income" class="text-light d-block py-2">Transaction</a></li>
					<li><a href="/subscriber/category/income" class="text-light d-block py-2">Category</a></li>
				    <li><a href="#" class="text-light d-block py-2">Report</a></li>
				    <li class="border-top my-3"></li>
				    <li><a href="/subscriber/logout" class="text-light d-block py-2">Logout</a></li>
				  </ul>
				</div>
			</div>
			
			